@using NSG.NetIncident4.Core.UI.Controllers
@{
    //
    int _count = BaseController.Alerts.Count;
    bool _alertsExist = false;
    AlertMessage[] _alerts = new AlertMessage[_count];
    if (BaseController.Alerts.Count > 0)
    {
        _alertsExist = true;
        BaseController.Alerts.CopyTo(_alerts);
        BaseController.Alerts.Clear();
    }
}
@if (_alertsExist)
{
    <div id="nsg-alerts" class="nsg-msg-alerts" onclick="closeAlerts()">
        <ul id="nsg-alerts-ul" class="nsg-msg-alerts-ul">
            @foreach (AlertMessage msg in _alerts)
            {
                <li class="@("nsg-msg-" + msg.Level)">
                    @msg.Message
                </li>
            }
        </ul>
    </div>
    <script>
        function closeAlerts() {
            window.parent.document.getElementById("nsg-alerts").style.display = "none";
        }
    </script>
}
