/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --nsg-label-color: navy;
    --nsg-a-color: #0366d6;
	--nsg-success: forestgreen;
	--nsg-info:  rgb(52, 89, 230);
	--nsg-warning: #f97316; /* darkorange;*/
	--nsg-danger: red;
    --nsg-jumbotron-color: black;
    --nsg-jumbotron-bg-color: var(--bs-gray-300);
    --nsg-hd-row-bg-color: var(--bs-gray-200);
    --bs-card-color: navy;
}

[data-bs-theme="dark"] {
    --nsg-label-color: var(--bs-gray-200);
    --nsg-jumbotron-color: var(--bs-gray-100);
    --nsg-jumbotron-bg-color: var(--bs-gray-800);
    --nsg-hd-row-bg-color: var(--bs-gray-800);
}

.card {
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}

/* Sticky footer styles
    Margin bottom 60px by footer height and absolute position
--------------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*
** NSG specific styles
*/
dt, label {
    color: var(--nsg-label-color);
    font-weight: bold;
    padding-right: 5px;
}
/* .validation-summary-errors */
.nsg-msg-alerts, .validation-summary-errors {
    width: 300px;
    min-height: 35px;
    margin: 2px 0 0 0;
    padding: 8px 1px 1px 1px;
    position: fixed;
    top: 55px;
    right: 10px;
    z-index: 20000;
    background-position: -312px 0;
    border: 1px solid red;
	border-radius: 5px;
    font-weight: bold;
    background-color: #ffffff;
}
/* background: #ffffff top left no-repeat 14px 14px; */
/* Info */
.nsg-msg-info {
	color: var(--nsg-info);
}
/* Success */
.nsg-msg-success {
	color: var(--nsg-success);
}
/* Warning */
.nsg-msg-warning {
	color: var(--nsg-warning);
}
/* Error/Danger */
.nsg-msg-error, .nsg-msg-danger {
	color: var(--nsg-danger);
}
/* Bold nsg-msgs */
.nsg-msg-info, .nsg-msg-success, .nsg-msg-warning,
 .nsg-msg-error, .nsg-msg-danger {
	font-weight: bold;
}
/* */
.nsg-td-label {
    padding: 0 2px 0 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.nsg-bold {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

/* Error/Danger */
.nsg-text-error, .nsg-text-danger {
    color: red;
    font-weight: bold;
}

.nsg-container {
    width: 100%;
    display: inline-block;
}

.nsg-md-1-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nsg-float-left {
    float: left;
}

.nsg-float-right {
    float: right;
}

.nsg-clear-left {
    clear: left;
}

.nsg-clear-both {
    clear: both;
}

.nsg-hd-row {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--bs-primary);
    background-color: var(--nsg-hd-row-bg-color);
    margin: 0 0 0 0;
    padding: 6px 0 6px 0;
    font-weight: bold;
    width: 100%;
}

.nsg-hd-col {
    display: inline-block;
    align-self: flex-end;
}

.nsg-row {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    line-height: 2;
    margin: 0 0 0 0;
    width: 100%;
}

@media (min-width: 992px) {
    /*@media all and (min-width:992px)*/
    .nsg-md-1-1 {
        width: 12.48%;
        float: left;
    }
}

.nsg-label {
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding-right: 5px;
}

.nsg-control {
    height: 36px;
    border-radius: 0.25rem;
    padding: 0.4rem 0.8rem;
}

@media (max-width: 768px) {
    .nsg-label {
        text-align: left !important;
    }
}

.nsg-jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: var(--nsg-jumbotron-color);
    background-color: var(--nsg-jumbotron-bg-color);
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
}

@media (min-width: 576px) {
    .nsg-jumbotron {
        padding: 4rem 2rem;
    }
}
/* End of site.css */
