@model NSG.NetIncident4.Core.Application.Commands.NoteTypes.NoteTypeDetailQuery

<div class="row">
    <label class="col-md-2 nsg-label" for="NoteTypeId">Id:</label>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.NoteTypeId)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="NoteTypeShortDesc">Short Desc:</label>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.NoteTypeShortDesc)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="NoteTypeDesc">Description:</label>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.NoteTypeDesc)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="NoteTypeClientScript">Client Script:</label>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.NoteTypeClientScript)
    </div>
</div>
