.alertMessages {
	width: 300px;
	min-height: 35px;
	margin: 2px 0 0 0;
	padding: 1px;
	position: fixed;
	top: 55px;
	right: 10px;
	z-index: 20000;
	background-position: -312px 0;
	border: 1px solid red;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--nsg-jumbotron-bg-color);
}
/* animation CSS */
.fade-in-animation {
	animation: fadeIn 300ms ease-in-out forwards;
}
.fade-out-animation {
	animation: fadeOut 150ms ease-in-out forwards;
}
/* animation key frames */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
