@{
    ViewBag.Title = "Help";
}
<div class="row">
    <br />
    <div class="col-md-4">
        <dl>
            <dt>Register a user and login</dt>
            <dd>
                This application contains a complete set of account creation and log in functionality.
                To @Html.ActionLink("Register", "Register", "Account").
                To @Html.ActionLink("Log in", "Login", "Account").
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Account Confirmation</dt>
            <dd>
                When you register a new account, you will be sent an email confirmation.
                You can send email using the EmailSettings which is registered in appSettings.json.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic User Management</dt>
            <dd>
                This application contains a complete set of user maintenance functionality
                and assignment of roles and servers to a user.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic Role Management</dt>
            <dd>
                Create, list, update, delete (CRUD) and assignment of Roles.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Social Logins</dt>
            <dd>
                You can support users login using their Google or Microsoft accounts.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Password Reset</dt>
            <dd>
                Allows the user to reset their passwords if they have forgotten their password.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Account Lockout</dt>
            <dd>
                Provide a way to Lockout out the user if the user enters their password incorrectly.
                The number of invalid attempts and the timespan for the users are locked out can be configured in the appSettings.json.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Security Token provider</dt>
            <dd>
                Support a way to regenerate the Security Token for the user in cases when the User changes there password or any other security related information such as removing an associated login(such as Google, Microsoft Account etc).
                This is needed to ensure that any tokens generated with the old password are invalidated.
                This feature provides an extra layer of security to your application since when you change your password, you will be logged out from everywhere (all other browsers) where you have logged into this application.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic Application Maintenance</dt>
            <dd>
                You can maintain the following from the Network Incident application data:
            </dd>
            <dd>
                <ul>
                    <li>General User</li>
                    <ul>
                        <li>Manage your user account</li>
                        <li>View your event logs</li>
                    </ul>
                    <li>Company Admin Users</li>
                    <ul>
                        <li>Manage your company's user accounts</li>
                        <li>Manage your company's servers</li>
                        <li>Manage your company's email templates</li>
                    </ul>
                    <li>Admin Users</li>
                    <ul>
                        <li>Manage base email templates</li>
                        <li>Manage base Network Information Centers (NIC)</li>
                        <li>Manage base Network Incident note types</li>
                        <li>Manage base roles</li>
                    </ul>
                </ul>
            </dd>
        </dl>
    </div>
</div>