@{
    ViewBag.Title = "Help";
}
<div class="row">
    <br />
    <div class="col-md-4">
        <dl>
            <dt>Register a user and login</dt>
            <dd>
                Click @Html.ActionLink("Register", "Register", "Account") and see the code in AccountController.cs and Register Action.
                Click @Html.ActionLink("Log in", "Login", "Account") and see the code in AccountController.cs and Login Action.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Social Logins</dt>
            <dd>
                You can support users login using their Google or Microsoft accounts.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic User Management</dt>
            <dd>
                Do Create, Update, List and Delete Users.
                Assign a Role to a User.
                Only Users In Role Admin can access this page. This uses the [Authorize(Roles = "Admin")] on the UserAdmin controller.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic Role Management</dt>
            <dd>
                Do Create, Update, List and Delete Roles.
                Only Users In Role Admin can access this page. This authorization is doen by using the [Authorize(Roles = "Admin")] on the RolesAdmin controller.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Account Confirmation</dt>
            <dd>
                When you register a new account, you will be sent an email confirmation.
                You can use an email service such as <a href="http://www.windowsazure.com/en-us/documentation/articles/sendgrid-dotnet-how-to-send-email/">SendGrid</a> which integrate nicely with Windows Azure and requires no configuration or
                set up an SMTP server to send email.
                You can send email using the EmailService which is registered in App_Start\IdentityConfig.cs
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Account Lockout</dt>
            <dd>
                Provide a way to Lockout out the user if the user enters their password or two-factor codes incorrectly.
                The number of invalid attempts and the timespan for the users are locked out can be configured.
                A developer can optionally turn off Account Lockout for certain user accounts should they need to.
            </dd>
        </dl>
        <ul>
            <li>Account LockOut settings can be configured in the UserManager in IdentityConfig.cs</li>
        </ul>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Security Token provider</dt>
            <dd>
                Support a way to regenerate the Security Token for the user in cases when the User changes there password or any other security related information such as removing an associated login(such as Facebook, Google, Microsoft Account etc).
                This is needed to ensure that any tokens generated with the old password are invalidated. In the sample project, if you change the users password then a new token is generated for the user and any previous tokens are invalidated.
                This feature provides an extra layer of security to your application since when you change your password, you will be logged out from everywhere (all other browsers) where you have logged into this application.
            </dd>
            <dd>
                <ul>
                    <li>The provider is registered when you add CookieAuthentication in StartupAuth to your application.</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Password Reset</dt>
            <dd>
                Allows the user to reset their passwords if they have forgotten their password. In this sample users need to confirm their email before they can reset their passwords.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Basic Application Maintenance</dt>
            <dd>
                You can maintain the following from the Network Incident data:
            </dd>
            <dd>
                <ul>
                    <li>General User</li>
                    <ul>
                        <li>Manage your user account</li>
                        <li>View your event logs</li>
                    </ul>
                    <li>Company Admin Users</li>
                    <ul>
                        <li>Manage your company's user accounts</li>
                        <li>Manage your company's servers</li>
                        <li>Manage your company's email templates</li>
                    </ul>
                    <li>Admin Users</li>
                    <ul>
                        <li>Manage base email templates</li>
                        <li>Manage base Network Information Centers (NIC)</li>
                        <li>Manage base Network Incident note types</li>
                        <li>Manage base roles</li>
                    </ul>
                </ul>
            </dd>
        </dl>
    </div>
</div>