/* You can add global styles to this file, and also import other style files */
/* prime-face prime-ng
Afterdark, afternoon, Afterwork, Aristo, Black-Tie, Blitzer, Bluesky, Bootstrap,
 Casablanca, cruze, !cupertino, Dark-Hive, Delta, Dot-Luv, Eggplant, Excite-Bike,
 !flick, Glass-x, Home, Hot-Sneaks, Humanity, Le-Frog, Midnight, Mint-Choc,
 Overcast, Pepper-grinder, !Redmond, Rocket, Sam, Smoothness, South-street, !Start,
 Sunny, Swanky-Purse, Trontastic, Darkness, Lightness, Vader
 luna-amber, luna-blue, luna-green, luna-pink, nova-colored, nova-dark, nova-light, rhea
* moved to angular.json config file
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nova-light/theme.css";
@import "primeng/resources/primeng.min.css";
*
==============================================================================
custom html styling
*/
:root {
	--nsg-primary: var(--primary-color, #0073ea); /* #007bff; */
	--nsg-primary-text: var(--text-color, #000); /* #007bff; */
	--nsg-success: forestgreen;
	--nsg-info:  var(--primary-color); /* #007bff; */
	--nsg-warning: darkorange;
	--nsg-danger: red;
	--nsg-text-color: var(--text-color, #000f00);
	--nsg-bg-color: var(--surface-ground, #fff0ff);
	--nsg-jumbotron-bg-color: var(--gray-200);
}
:root,
[data-bs-theme="light"] {
	color-scheme: light;
	--nsg-jumbotron-bg-color: var(--gray-200);
}
[data-bs-theme="dark"] {
	color-scheme: dark;
	--nsg-jumbotron-bg-color: var(--gray-700);
}
/* */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	margin: 0;
	line-height: 1.5; /* 1.5 */
	color: var(--nsg-text-color);
	background-color: var(--nsg-bg-color);
}
optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input, select, textarea {
	line-height: inherit;
	font-family: sans-serif;
	font-size: 100%;
}
/* input::placeholder, textarea::placeholder { color: lightgray; } */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;  line-height: 1.1;
	margin-top: 0; margin-bottom: .5rem;
}
h1 { font-size: 2.25rem; }
h2 { font-size: 2.00rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.60rem; }
h5 { font-size: 1.45rem; }
h6 { font-size: 1.30rem; }
/*
==============================================================================
PrimeNg
*/
/* remove boxes around inputs */
body .p-inputtext { padding: 0px 0 2px 0; border: 0 none; }
/* style popup dialogs boxes */
body .p-dialog .p-dialog-titlebar { font-weight: bold; }
/* icon button sizing */
body .p-fluid .p-button-icon-only { width: 1.8em; }
body .p-button { font-size: 12px; }
body .p-button.p-state-default.p-button-secondary, body .p-buttonset.p-button-secondary > .p-button.p-state-default {
	border: 1px solid gray; }
/* selected table item */
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
	padding: 0.571rem 0.600rem;
}
/* menu */
.p-menubar {
	background-color: transparent;
	border: none;
}
.p-menubar .p-submenu-list {
	border-radius: 4px;
}
.menubar {
	background-color: var(--nsg-primary);
}
/*
==============================================================================
NSG
*/
/* Info */
.nsg-msg-info {
    color: rgb(52, 89, 230);
}
/* Success */
.nsg-msg-success {
    color: forestgreen;
}
/* Warning */
.nsg-msg-warning {
    color: darkorange;
}
/* Error/Danger */
.nsg-msg-error, .nsg-msg-danger {
    color: red;
}
.nsg-bs-menu-container {
	background-color: var(--nsg-primary);
}
/* custom appearance and positioning styles */
.nsg-header {
	height: 60px; padding-top: 12px;
}
/* Jumbo-tron */
.nsg-jumbotron {
	min-height: 120px;
	padding: 2rem 1rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
	border: 1px solid var(--nsg-primary);
	border-radius: 5px;
	background-color: var(--nsg-jumbotron-bg-color);
}
/* footer */
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.nsg-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px;
	color: var(--nsg-primary-text);
	background-color: var(--nsg-primary);
}
/* https://www.sessions.edu/color-calculator/ */
.nsg-inputtext { padding: 1px 1px 1px 4px; font-size: 1.2rem; border: 0 none; }
.nsg-primary-color { color: var(--nsg-primary-color); }
.nsg-bold { font-weight: bold; }
.nsg-complementary-color { color: #ea5a00; }
.nsg-triadic-lite-color { color: #eacf00; }
.nsg-triadic-dark-color { color: #ea003b; }
.nsg-alert-color { color: red; }
.nsg-text-left { text-align: left !important; }
.nsg-text-right { text-align: right !important; }
.nsg-text-center { text-align: center !important; }
.nsg-spacer25 { height: 25px; }
.nsg-button-div { width: 40px; height: 32px; padding: 0; margin: 0; }
.nsg-icon-button { width: 110px; }
.nsg-link-div { color: var(--nsg-primary-color); text-decoration: underline; }
.nsg-column-container {
	float: left;
	padding: 0;
	margin: 0;
}
.nsg-inc-det-left-side { float: left; padding-right: 2px; }
.nsg-inc-det-right-side { float: left; padding: 0 2px; }
.nsg-input-wide { width: 98%; }
.nsg-block-center { text-align: center; }
/* media queries must appear in low to high order */
@media (max-width: 768px) {
	.nsg-text-right { text-align: left !important; }
}
/* End of style.css */
