<!-- app.component.html -->
<!-- global/alerts/alerts.component.html -->
<!-- Global alert box to appear in upper right corner  -->
<app-alerts></app-alerts>
<!-- global/menu/menu.component.html -->
<!-- modal comfirmation popup -->
<p-confirmDialog key='delete' header='Delete Confirmation' icon='pi pi-trash'></p-confirmDialog>
<!-- content -->
<app-header (logout)='onAuthLogout($event)'></app-header>
@if (authenticated === false) {
  <div>
    <app-login (emitClose)='onAuthenticated($event)'></app-login>
  </div>
}
@if (authenticated === true) {
  <div>
    <app-incident-grid [user]='user'></app-incident-grid>
  </div>
}
<router-outlet></router-outlet>
<footer class="nsg-footer">
  <div class="container">
    &copy; 2024 - NSG Network Incidents
  </div>
</footer>
<!-- end -->