<!-- Server-detail-window.component.html -->
<p-dialog id='serverSelectionWindow' name='serverSelectionWindow'
  [(visible)]='displayWin' [modal]='true' [style]="{width: '500px'}" [closeOnEscape]='false' [closable]='false'>
  <ng-template #header class='nsg-primary-color'>
    Select a server
  </ng-template>
  @if (model === undefined) {
    <h5>Loading ...</h5>
  }
  @if (model !== undefined) {
    <div>
      <div class='nsg-primary-color nsg-bold'>
        @for (item of model; track item) {
          <div>
            <input type='radio' [name]='item.value' (change)='onServerSelection( $event, item.value )'>
            <label for='{{item.label}}'>{{item.label}} ({{item.value}})</label>
            <br/>
          </div>
        }
      </div>
    </div>
  }
  <ng-template #footer>
    &nbsp;
  </ng-template>
</p-dialog>
<!-- End of Server-detail-window.component.html -->
